<details id="filters-widget">
  <summary>
    Filters
    {% if active_filters_count > 0 %}
      <span class="filters-widget__active-num">({{ active_filters_count }} applied)</span>
    {% endif %}
  </summary>
  <div class="henk-details-group">
    {% for filter in filters %}
      <details class="henk-details henk-details--plusmin" name="filter">
        <summary class="henk-details__summary">
          {{ filter.label }}
          {% if filter.active_values.size > 0 %}
            ({{ filter.active_values.size }} selected)
          {% endif %}
        </summary>

        <div class="henk-details__content">
          {% case filter.type %}
            {% when 'list' %}
              <ul class="henk-list henk-list--no-bullets">
                {% for value in filter.values %}
                  <li>
                    <label>
                      {% if value.display.type == 'colors' %}
                        {%- assign color_hex = value.display.value | first -%}
                        <span
                          class="swatch"
                          style="                                        background-color: {{ color_hex }};"
                          title="{{ value.label }}"
                        >
                        </span>
                      {%- endif -%}
                      <input
                        type="checkbox"
                        name="{{ value.param_name }}"
                        value="{{ value.value }}"
                        {% if value.active %}
                          checked
                        {% endif %}
                        {% if value.count == 0 and value.active == false %}
                          disabled
                        {% endif %}
                      >
                      {{ value.label }}
                      {% if value.count > 0 %}
                        ({{ value.count }})
                      {% endif %}
                    </label>
                  </li>
                {% endfor %}
              </ul>

            {% when 'price_range' %}
              <div>
                <input
                  type="number"
                  name="{{ filter.min_value.param_name }}"
                  value="{{ filter.min_value.value | default: '' }}"
                  placeholder="Min"
                  min="0"
                  size="4"
                >
                <input
                  type="number"
                  name="{{ filter.max_value.param_name }}"
                  value="{{ filter.max_value.value | default: '' }}"
                  placeholder="Max"
                  min="0"
                  size="4"
                >
              </div>

            {% when 'boolean' %}
              {% for value in filter.values %}
                <label>
                  <input
                    type="checkbox"
                    name="{{ value.param_name }}"
                    value="{{ value.value }}"
                    {% if value.active %}
                      checked
                    {% endif %}
                  >
                  {{ value.label }}
                </label>
              {% endfor %}
            {% else %}
              <p>Unknown filter type: {{ filter.type }}</p>
          {% endcase %}
        </div>
      </details>
    {% endfor %}
    <div class="henk-button-group">
      <button type="submit" class="henk-button henk-button--small">Apply</button>
    </div>
  </div>
</details>
