{% assign first_variant = product.variants.first %}
{% assign current_variant = first_variant %}

<!-- Options -->
{% for option in product.options_with_values %}
  <fieldset class="henk-fieldsetx">
    <legend class="henk-legendx">{{ option.name }}</legend>
    <div class="options__container">
      {% for value in option.values %}
        <div class="henk-labeled-inputx">
          <label class="henk-labelx">
            <input
              class="henk-radiox"
              type="radio"
              name="option-{{ forloop.index0 }}"
              value="{{ value }}"
              {% if current_variant.options[forloop.index0] == value %}
                checked
              {% endif %}
            >
            <span class="custom-swatchx">
              {{ value }}
            </span>
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>
{% endfor %}

<!-- Hidden input for form -->
<input type="hidden" name="id" id="SelectedVariantId" value="{{ current_variant.id }}">

<!-- Initial debug -->
<p>Current variant ID: {{ current_variant.id }}</p>
<p>Options: {{ current_variant.options | json }}</p>

<hr>
<h2>VARIANT DUMP</h2>
{% for v in product.variants %}
  <pre>
  ID: {{ v.id }}
  OPTIONS: {{ v.options | json }}
  </pre>
{% endfor %}

<input type="hidden" name="id" id="SelectedVariantId" value="{{ current_variant.id }}">
<h3>current variant</h3>
<dl>
  <dt>id:</dt>
  <dd>
    {{ current_variant.id }}
  </dd>
  <dt>options:</dt>
  <dd>
    {{ current_variant.options | json }}
  </dd>
  <dt>metafields:</dt>
  <dd>
    {{ current_variant.metafields.HENK | json }}
  </dd>
  <dt>metafield keys:</dt>
  {% for key in current_variant.metafields.HENK %}
    <dd>{{ key[0] }}</dd>
  {% endfor %}
  <dt>metafield values:</dt>
  {% for key in current_variant.metafields.HENK %}
    <dd>{{ key[1].value | json }}</dd>
  {% endfor %}
  <dt>metafield color</dt>
  {% for key in current_variant.metafields.HENK %}
    <dd>{{ key[1].value.color }}</dd>
  {% endfor %}
  <dt>metafield name</dt>
  {% for key in current_variant.metafields.HENK %}
    <dd>{{ key[1].value.name }}</dd>
  {% endfor %}
  <dt>metafield swatch</dt>
  {% for key in current_variant.metafields.HENK %}
    <dd>{{ key[1].value.swatch | image_url }}</dd>
  {% endfor %}
</dl>
<hr>
<h3>Current selected variant</h3>
<dl>
  {% assign selected_options = current_variant.options %}
  <dt>selected_options:</dt>
  <dd>{{ selected_options | json }}</dd>
</dl>
<hr>
<h3>All product variants metafields</h3>
<dl>
  <dt>variants metafields:</dt>
  {% for v in product.variants %}
    <dd>Variant ID: {{ v.id }} - Metafields: {{ v.metafields.HENK | json }}</dd>
  {% endfor %}
</dl>
<hr>
<h3>Current product all options</h3>
{% for option in product.options_with_values %}
  {% comment %} {{ option.selected_value | json }} {% endcomment %}
  <dl>
    <dt>option name:</dt>
    <dd>{{ option.name }}</dd>
    <dt>option values:</dt>
    <dd>{{ option.values | json }}</dd>
    <dt>option values name:</dt>
    {% for value in option.values %}
      <dd>{{ value.name }}</dd>

      <hr>
    {% endfor %}
    <dt>option selected value:</dt>
    <dd>{{ option.selected_value }}</dd>
    i want a better way to match option values to variants
  </dl>
  <hr>
{% endfor %}

{% for option in product.options_with_values %}
  {% assign option_index = forloop.index0 %}
  {% assign selected_options = current_variant.options %}

  <fieldset class="henk-fieldset">
    <legend class="henk-legend">{{ option.name }}</legend>
    <div class="options__container">
      {% for value in option.values %}
        {%- comment -%}
          STEP 1: Match the variant that corresponds to THIS option value
        {%- endcomment -%}

        {% assign matched_variant = null %}
        {% for v in product.variants %}
          {% assign matches = true %}

          {% for i in (0..v.options['size-1']) %}
            {% if i == option_index %}
              {% assign expected = value.name %}
            {% else %}
              {% assign expected = selected_options[i] %}
            {% endif %}

            {% if v.options[i] != expected %}
              {% assign matches = false %}
              {% break %}
            {% endif %}
          {% endfor %}

          {% if matches %}
            {% assign matched_variant = v %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% if matched_variant %}
          {% comment %} {{ matched_variant | json }} {% endcomment %}
          {%- comment -%}
            STEP 2:
            Determine which metafield to use based on option.name.
            For each case, we assign the ACTUAL metafield object
            directly into "swatch_data".
          {%- endcomment -%}

          {% assign swatch_data = null %}
          {% case option.name %}
            {% when 'Color' %}
              {% assign swatch_data = value.swatch %}
            {% when 'Fabric' %}
              {% assign swatch_data = matched_variant.metafields.HENK.fabric.value %}
            {% when 'Upholstery material' %}
              {% assign swatch_data = matched_variant.metafields.HENK.fabric.value %}
            {% when 'Finish' %}
              {% comment %} {{ matched_variant.metafields.HENK.frame_finish.list? | json }} {% endcomment %}
              {% comment %} {{ matched_variant.metafields.HENK.frame_finish.type | json }} {% endcomment %}
              {% comment %} {{ matched_variant.metafields.HENK.frame_finish.value | json }} {% endcomment %}
              {% assign swatch_data = null %}
              {% assign finish_value = matched_variant.metafields.HENK.frame_finish.value %}
              {% comment %} {{ finish_value | json }} {% endcomment %}
              {% if finish_value %}
                {% assign swatch_data = finish_value %}
              {% endif %}
          {% endcase %}

          {% comment %} {{ swatch_data | json }} {% endcomment %}

          {%- comment -%}
            STEP 3 (FIXED):
            Reset swatch vars BEFORE assigning
          {%- endcomment -%}

          {% if swatch_data %}
            {% assign swatch_image = swatch_data.swatch | image_url %}
            {% assign swatch_color = swatch_data.color %}
            <div class="henk-labeled-input">
              <label class="henk-label">
                <input
                  class="henk-radio"
                  type="radio"
                  name="option-{{ option_index }}"
                  value="{{ value.name }}"
                  data-option-index="{{ option_index }}"
                  {% if current_variant.options[option_index] == value.name %}
                    checked
                  {% endif %}
                >

                <span
                  class="custom-swatch"
                  style="{% if swatch_color %}background-color: {{ swatch_color }};{% endif %}"
                >
                  {% if swatch_image %}
                    <img
                      src="{{ swatch_image | image_url: width: 44, height: 44 }}"
                      alt="{{ swatch_data.name }}"
                      width="44"
                      height="44"
                    >
                  {% endif %}
                </span>

                <span class="visually-hidden">
                  {{ swatch_data.name | default: value.name }}
                </span>
              </label>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </fieldset>
{% endfor %}
