{{ metafield_value.name | json }}
<fieldset class="henk-fieldset">
  <legend class="henk-legend">{{ option.name }}</legend>

  <div class="options__container">
    {% for value in option.values %}
      <div class="henk-labeled-input">
        <label class="henk-label">
          <input
            class="henk-radio"
            type="radio"
            name="{{ metafield_name}}"
            value="{{ option.value }}"
            title="{{ swatch_name }}"
            data-featured-image="{{ matched_variant.featured_image | image_url: width: 1134 }}"
            data-material-name="{{ swatch_name }}"
            data-sku="{{ value.variant.sku }}"
            data-price="{{ matched_variant.price }}"

            {% if value.variant.id == current_variant.id %}
              checked
            {% endif %}
          >

          <span
            class="custom-swatch"
            style="background-color: {{ swatch_color }};"
          >
            <img
              src="{{ swatch_image | image_url: '44x44' }}"
              alt="{{ swatch_name }}"
              width="44"
              height="44"
            >
          </span>

          <span class="visually-hidden">
            {{ swatch_name }}
          </span>
        </label>
      </div>
    {% endfor %}
  </div>
</fieldset>
