{% comment %} {{ collection | json }} {% endcomment %}
{% comment %} {{ product | json }} {% endcomment %}
{% comment %} {{ product.tags | json }} {% endcomment %}

<div class="henk-card {% if card_variant %} henk-card--{{ card_variant }}{% endif %}">
  <a
    href="{{ product.url }}"
    class="henk-card__image-link"
  >
    <figure class="henk-card__image-container">
      {% if product.featured_image %}
        <img
          class="henk-card__img"
          src="{{ product.featured_image | image_url: width: 1134}}"
          alt="{{ product.title }}"
          width="1134"
          height="1134"
        >
      {% else %}
        <img
          class="henk-card__img"
          src="https://placehold.co/1000x1000"
          alt="No image available"
          width="1000"
          height="1000"
        >
      {% endif %}
    </figure>
  </a>
  <div class="henk-card__content">
    <p class="henk-card__title truncate">{{ product.title }}</p>

    {% if card_variant == null %}
      {% if product.metafields.custom.short_description != blank %}
        <p
          class="henk-card__short_description truncate"
          title="
            {{
            product.metafields.custom.short_description }}
          "
        >
          {{ product.metafields.custom.short_description }}
        </p>
      {% endif %}
      {% comment %}
        <p class="henk-card__description truncate" title="{{ product.description }}">
          {% if product.description != blank %}
            {{ product.description }}
          {% else %}
            {{ 'card.no_description' | t }}
          {% endif %}
        </p>
      {% endcomment %}
    {% else %}
      <p class="henk-card__price">
        {% if product.price_varies %}
          {{ 'card.from_label' | t }}
          {{ product.price_min | money_without_trailing_zeros }}
        {% else %}
          {{ product.price | money_without_trailing_zeros }}
        {% endif %}
      </p>
    {% endif %}

    {% if card_variant == null %}
      {% assign min_price = product.price_min | money_without_trailing_zeros %}

      {% if product.price_varies %}
        {% assign price_label = 'card.from_label' | t | append: ' ' | append: min_price %}
      {% else %}
        {% assign price_label = product.price | money_without_trailing_zeros %}
      {% endif %}

      {% render 'henk-button',
        element: 'a',
        href: product.url,
        label: price_label,
        extra_classes: 'henk-card__button'
      %}
    {% endif %}
  </div>
  {% if product.tags != blank %}
    <div class="henk-card__tags">
      {% for tag in product.tags limit: 1 %}
        {% render 'henk-tag', tag: tag %}
      {% endfor %}
    </div>
  {% endif %}
</div>
