<!-- Options -->
{% for option in product.options_with_values %}
  <fieldset class="henk-fieldset">
    <legend class="henk-legend">{{ option.name }}</legend>
    <div class="options__container">
      {% for value in option.values %}
        {% comment %}Check if this value should have a swatch{% endcomment %}
        {% assign swatch = null %}
        {% for variant in product.variants %}
          {% for key in variant.metafields.HENK %}
            {% assign mf_value = key[1].value %}

            {% assign norm_value = value | downcase | replace: '-', ' ' | strip %}
            {% assign norm_mf = mf_value.name | downcase | replace: '-', ' ' | strip %}
            {% if norm_value == norm_mf %}
              {% assign swatch = mf_value.swatch | image_url %}
              {% break %}
            {% endif %}
          {% endfor %}
          {% if swatch %}
            {% break %}
          {% endif %}
        {% endfor %}
        <div class="henk-labeled-inputx">
          <label class="henk-labelx">
            <input
              class="henk-radio"
              type="radio"
              name="option-{{ option.name | downcase }}"
              value="{{ value }}"
              {% if current_variant.options[forloop.parentloop.index0] == value %}
                checked
              {% endif %}
            >

            <span class="custom-swatch">
              {% if swatch %}
                <img
                  src="{{ swatch | image_url: width: 44, height: 44 }}"
                  alt="{{ value }}"
                  width="44"
                  height="44"
                >
              {% else %}
                {{ value }}
              {% endif %}
            </span>
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>
{% endfor %}

<!-- Hidden input for form -->
<input type="hidden" name="id" id="SelectedVariantId" value="{{ current_variant.id }}">
