{{ metafield_value.name | json }}

{% comment %} {{ product.variants | json }} {% endcomment %}

{% for variant in product.variants %}
  {% comment %} {{ variant.metafields.HENK | json }} {% endcomment %}
  {% for key in variant.metafields.HENK %}
    {% assign metafield_name = key[0] %}
    {% assign metafield_value = key[1].value %}
    {% comment %} {% assign option = metafield_name %} {% endcomment %}
    {% assign option_name = metafield_value.name %}
    {% assign option_color = metafield_value.color %}
    {% assign option_swatch = metafield_value.swatch | image_url %}
    {% assign option_value = variant.id %}
  {% endfor %}
{% endfor %}
<fieldset class="henk-fieldset">
  <legend class="henk-legend">{{ option.name }}</legend>

  <div class="options__container">
    {% for value in option.values %}
      <div class="henk-labeled-input">
        <label class="henk-label">
          <input
            class="henk-radio"
            type="radio"
            name="option-{{ option_name }}"
            value="{{ option_value }}"
            title="{{ swatch_name }}"
            data-featured-image="{{ value.variant.featured_image | image_url: width: 1134 }}"
            data-material-name="{{ option_name }}"
            data-sku="{{ value.variant.sku }}"
            data-price="{{ value.variant.price }}"

            {% if value.variant.id == current_variant.id %}
              checked
            {% endif %}
          >

          <span
            class="custom-swatch"
            style="background-color: {{ swatch_color }};"
          >
            <img
              src="{{ swatch_image | image_url: '44x44' }}"
              alt="{{ swatch_name }}"
              width="44"
              height="44"
            >
          </span>

          <span class="visually-hidden">
            {{ swatch_name }}
          </span>
        </label>
      </div>
    {% endfor %}
  </div>
</fieldset>
