{% assign first_variant = product.variants.first %}
{% assign current_variant = first_variant %}

<!-- <p>has metafields?: {{ current_variant.metafields.HENK.size | json }}</p> -->
<!-- <p>which metafields?: {{ current_variant.metafields.HENK | json }}</p> -->
<!-- <p>check has mf: {{ product.variants.first.metafields.HENK.size | json }}</p> -->
<!-- <p>check has mf: {{ product.variants.metafields.HENK.size | json }}</p> -->

<!-- <p>which metafields?: {{ current_variant.metafields.HENK | json }}</p> -->
<!-- {% for key in current_variant.metafields.HENK %} -->
<!-- <p>key: {{ key[0] }} | value: {{ key[1] | json }}</p> -->
<!-- {% endfor %} -->

{%- comment -%}
  Grab metafield keys and values in order, and turn them into arrays.
  This works in Shopify because capturing strings + splitting does work.
{%- endcomment -%}

{% comment %} {% capture henk_keys %} {% endcomment %}
{% comment %}   {% for pair in current_variant.metafields.HENK %} {% endcomment %}
{% comment %}     {{ pair[0] }}| {% endcomment %}
{% comment %}   {% endfor %} {% endcomment %}
{% comment %} {% endcapture %} {% endcomment %}

{% comment %} {% capture henk_vals %} {% endcomment %}
{% comment %}   {% for pair in current_variant.metafields.HENK %} {% endcomment %}
{% comment %}     {{ pair[1] }}| {% endcomment %}
{% comment %}   {% endfor %} {% endcomment %}
{% comment %} {% endcapture %} {% endcomment %}

{% comment %} {% assign meta_keys = henk_keys | split: '|' %} {% endcomment %}
{% comment %} {% assign meta_vals = henk_vals | split: '|' %} {% endcomment %}

{% comment %} {% assign meta_keys = henk_keys | split: '|' | slice: 0, current_variant.metafields.HENK.size %} {% endcomment %}
{% comment %} {% comment %} {{ meta_keys[0] }} {% endcomment %} {% endcomment %}
{% comment %} {% assign meta_vals = henk_vals | split: '|' | slice: 0, current_variant.metafields.HENK.size %} {% endcomment %}
{% comment %}{% endcomment %}
{% comment %} {% capture mf_names %}{% for key in current_variant.metafields.HENK %}{{ key[1].value.name }}|{% endfor %}{% endcapture %} {% endcomment %}
{% comment %} {% assign mf_names_array = mf_names | split: '|' %} {% endcomment %}
{% comment %} {{ mf_names_array | json }} {% endcomment %}

<!-- Options -->

{% for option in product.options_with_values %}
  <fieldset class="henk-fieldset">
    <legend class="henk-legend">{{ option.name }}</legend>
    <div class="options__container">
      {% for value in option.values %}
        {% comment %}Check if this value should have a swatch{% endcomment %}
        {% assign swatch = null %}
        {% for variant in product.variants %}
          {% for key in variant.metafields.HENK %}
            {% assign mf_value = key[1].value %}

            {% assign norm_value = value | downcase | replace: '-', ' ' | strip %}
            {% assign norm_mf = mf_value.name | downcase | replace: '-', ' ' | strip %}
            {% if norm_value == norm_mf %}
              {% assign swatch = mf_value.swatch | image_url %}
              {% break %}
            {% endif %}

            {% comment %} {% if mf_value.name == value %} {% endcomment %}
            {% comment %}   {% assign swatch = mf_value.swatch | image_url %} {% endcomment %}
            {% comment %}   {% break %} {% endcomment %}
            {% comment %} {% endif %} {% endcomment %}
          {% endfor %}
          {% if swatch %}
            {% break %}
          {% endif %}
        {% endfor %}
        <div class="henk-labeled-inputx">
          <label class="henk-labelx">
            <input
              class="henk-radio"
              type="radio"
              name="option-{{ option.name | downcase }}"
              value="{{ value }}"
              {% if current_variant.options[forloop.parentloop.index0] == value %}
                checked
              {% endif %}
            >

            <span class="custom-swatch">
              {% if swatch %}
                <img
                  src="{{ swatch | image_url: width: 44, height: 44 }}"
                  alt="{{ value }}"
                  width="44"
                  height="44"
                >
              {% else %}
                {{ value }}
              {% endif %}
            </span>
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>
{% endfor %}

<!-- Hidden input for form -->
<input type="hidden" name="id" id="SelectedVariantId" value="{{ current_variant.id }}">
