<fieldset class="henk-fieldset">
  <legend class="henk-legend">{{ option.name }}</legend>

  <div class="options__container">
    {% for variant in product.variants %}
      {% for key in variant.metafields.HENK %}
        {% assign metafield_value = key[1].value %}
        {% assign option_name = metafield_value.name %}
        {% assign option_color = metafield_value.color %}
        {% assign option_swatch = metafield_value.swatch | image_url %}
        {% assign option_value = variant.id %}

        <div class="henk-labeled-input">
          <label class="henk-label">
            <input
              class="henk-radio"
              type="radio"
              name="option-{{ option.name }}"
              value="{{ option_value }}"
              title="{{ option_name }}"
              {% if variant.id == current_variant.id %}
                checked
              {% endif %}
            >

            <span class="custom-swatch" style="background-color: {{ option_color }};">
              <img src="{{ option_swatch | image_url: '44x44' }}" alt="{{ option_name }}" width="44" height="44">
            </span>

            <span class="visually-hidden">{{ option_name }}</span>
          </label>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</fieldset>
