{% comment %} {{ product.metafields | json }} {% endcomment %}
{% comment %} {{ product.options | json }} {% endcomment %}
{% comment %} {{ product.options_by_name | json }} {% endcomment %}

{% comment %} {% for key in product.metafields.HENK %} {% endcomment %}
{% comment %}   {{ key }}: {{ product.metafields.HENK[key].value }} {% endcomment %}
{% comment %} {% endfor %} {% endcomment %}
{% comment %}{% endcomment %}
{% comment %} {% for key in current_variant.metafields.HENK %} {% endcomment %}
{% comment %}   {{ key }}: {{ current_variant.metafields.HENK[key].value }} {% endcomment %}
{% comment %} {% endfor %} {% endcomment %}

{% comment %}
  Loop through all variants of the product
  Show:
    - variant.id
    - variant title
    - built-in options (Color, Size, etc.)
    - any metafields in HENK namespace
{% endcomment %}

{% for variant in product.variants %}
  <h3>Variant: {{ variant.title }} (ID: {{ variant.id }})</h3>

  <ul>
    {% for i in (1..3) %}
      {% comment %} {% assign option_value = variant["option" | append: i ] %} {% endcomment %}
      {% assign option_key = 'option' | append: i %}
      {% assign option_value = variant[option_key] %}
      {% if option_value %}
        <li>Option {{ i }}: {{ option_value }}</li>
      {% endif %}
    {% endfor %}

    {% for key in variant.metafields.HENK %}
      {% assign mf = variant.metafields.HENK[key] %}
      <li>
        Metafield {{ key }}:
        {% if mf.value %}
          {{ mf.value | json }}
        {% else %}
          empty
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}

<input type="hidden" name="id" id="SelectedVariantId" value="{{ current_variant.id }}">
{% for option in product.options_with_values %}
  {% assign option_index = forloop.index0 %}

  {% comment %} {{ option | json }} {% endcomment %}

  {% case option.name %}
    {% when 'Color' %}
      <fieldset class="henk-fieldset">
        <legend class="henk-legend">Color</legend>
        <div class="options__container">
          {% for value in option.values %}
            {% assign matched_variant = null %}
            {% for v in product.variants %}
              {% if v.options[option_index] == value.name %}
                {% assign matched_variant = v %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if matched_variant %}
              <div class="henk-labeled-input">
                <label class="henk-label">
                  <input
                    class="henk-radio"
                    type="radio"
                    name="option-{{ option_index }}"
                    value="{{ matched_variant.id }}"
                    {% if matched_variant.id == current_variant.id %}
                      checked
                    {% endif %}
                  >
                  <span class="custom-swatch" style="background-color: {{ value.swatch.color }};"></span>
                  <span class="visually-hidden">{{ value.name }}</span>
                </label>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </fieldset>

    {% when 'Upholstery material' %}
      <fieldset class="henk-fieldset">
        <legend class="henk-legend">{{ option.name }}</legend>
        <div class="options__container">
          {% for value in option.values %}
            {% assign matched_variant = null %}
            {% for v in product.variants %}
              {% if v.options[option_index] == value.name %}
                {% assign matched_variant = v %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if matched_variant %}
              {% assign material_data = matched_variant.metafields.HENK.material.value | first %}
              {% comment %} {{ material_data | json }} {% endcomment %}
              {% assign swatch_gid = material_data.swatch %}
              {% assign swatch_image = swatch_gid | image_url %}

              <div class="henk-labeled-input">
                <label class="henk-label">
                  <input
                    class="henk-radio"
                    type="radio"
                    name="option-{{ option_index }}"
                    value="{{ matched_variant.id }}"
                    {% if matched_variant.id == current_variant.id %}
                      checked
                    {% endif %}
                  >
                  <span class="custom-swatch" style="background-color: {{ material_data.color }};">
                    <img
                      src="{{ swatch_image | image_url: width: 44, height: 44 }}"
                      alt="{{ material_data.name }}"
                      width="44"
                      height="44"
                    >
                  </span>
                  <span class="visually-hidden">{{ material_data.name }}</span>
                </label>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </fieldset>

    {% when 'Frame afwerking' %}
      <fieldset class="henk-fieldset">
        <legend class="henk-legend">{{ option.name }}</legend>
        <div class="options__container">
          {% assign seen_frames = '' | split: ',' %}
          {% for variant in product.variants %}
            {% assign frame_obj = variant.metafields.HENK.frame_finish.value %}
            {% if frame_obj %}
              {% assign is_new = true %}
              {% for seen_id in seen_frames %}
                {% if seen_id == frame_obj.id %}{% assign is_new = false %}{% endif %}
              {% endfor %}
              {% if is_new %}
                {% assign seen_frames = seen_frames | concat: frame_obj.id | split: ',' %}
                <div class="henk-labeled-input">
                  <label class="henk-label">
                    <input
                      class="henk-radio"
                      type="radio"
                      name="option-{{ option_index }}"
                      value="{{ variant.id }}"
                      {% if variant.id == current_variant.id %}
                        checked
                      {% endif %}
                      {% unless variant.available %}
                        disabled
                      {% endunless %}
                    >
                    <span
                      class="custom-swatch"
                      style="background-image: url({{ frame_obj.swatch | img_url: '100x100' }});"
                    ></span>
                    <span class="visually-hidden">{{ frame_obj.name | default: variant.options[option_index] }}</span>
                  </label>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </fieldset>

    {% else %}
      <!-- Default radios for other options -->
      <fieldset class="henk-fieldset">
        <legend class="henk-legend">{{ option.name }}</legend>
        <div class="options__container">
          {% for value in option.values %}
            {% assign matched_variant = null %}
            {% for v in product.variants %}
              {% if v.options[option_index] == value %}
                {% assign matched_variant = v %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% if matched_variant %}
              <label class="henk-label">
                <input
                  class="henk-radio"
                  type="radio"
                  name="option-{{ option_index }}"
                  value="{{ matched_variant.id }}"
                  {% if matched_variant.id == current_variant.id %}
                    checked
                  {% endif %}
                  {% unless matched_variant.available %}
                    disabled
                  {% endunless %}
                >
                {{ value }}
              </label>
            {% endif %}
          {% endfor %}
        </div>
      </fieldset>
  {% endcase %}
{% endfor %}
