<div class="store-detail">
  {% render 'henk-section-header', title: metaobject.store_name, level: '1', align: 'center' %}

  {% comment %} {% assign storeImageUrl = metaobject.store_key_image | image_url %} {% endcomment %}

  {% assign storeMedia = metaobject.splitscreen_media %}

  {% if storeMedia.media_type == 'image' %}
    {% assign storeMediaUrl = storeMedia | image_url %}
  {% elsif storeMedia.media_type == 'video' %}
    {% assign storeMediaUrl = storeMedia.sources[0].url %}
  {% endif %}

  {% render 'henk-split-screen',
    bgColor: 'default',
    id: 'ss-1',
    title: metaobject.splitscreen_heading.value,
    caption: metaobject.splitscreen_caption.value,
    level: 2,
    display: false,
    content: metaobject.splitscreen_text.value,
    imageUrl: storeMediaUrl,
    imageAlt: metaobject.splitscreen_image.alt,
    imageLink: metaobject.splitscreen_button_url.value,
    imageLinkTargetBlank: false,
    buttonUrl: metaobject.splitscreen_button_url.value,
    buttonText: metaobject.splitscreen_button_text.value,
    buttonVariant: 'default',
    reverse: false
  %}

  {% assign splitscreenImageUrl = metaobject.splitscreen_2_map_image | image_url %}
  {% render 'henk-split-screen',
    bgColor: 'default',
    id: 'ss-2',
    title: metaobject.splitscreen_2_heading.value,
    caption: metaobject.splitscreen_caption.value,
    level: 2,
    display: false,
    content: metaobject.splitscreen_2_text.value,
    imageUrl: splitscreenImageUrl,
    imageAlt: metaobject.splitscreen_2_map_image.alt,
    imageLink: metaobject.splitscreen_button_url.value,
    imageLinkTargetBlank: false,
    buttonUrl: metaobject.splitscreen_button_url.value,
    buttonText: metaobject.splitscreen_button_text.value,
    buttonVariant: 'default',
    reverse: true
  %}

  <!-- <p>{{ metaobject.address }}</p> -->
  <!-- <p>{{ metaobject.description }}</p> -->
  <!-- {% if metaobject.store_key_image %} -->
  <!-- <img src="{{ metaobject.store_key_image | image_url }}" alt="{{ metaobject.store_name }}"> -->
  <!-- {% endif %} -->
  <!-- <p><a href="{{ metaobject.map_link.value.url }}">Get directions</a></p> -->
  <!-- <p><strong>Phone:</strong> {{ metaobject.phone_number }}</p> -->
</div>
