<div class="store-detail">
  {% render 'henk-section-header', title: metaobject.store_name, level: '1', align: 'center' %}

  {% assign storeImageUrl = metaobject.store_key_image | image_url %}
  {% render 'henk-split-screen',
    bgColor: 'default',
    id: 'ss-3',
    title: metaobject.splitscreen_heading.value,
    caption: metaobject.splitscreen_caption.value,
    level: 2,
    display: false,
    content: metaobject.splitscreen_text.value,
    imageUrl: storeImageUrl,
    imageAlt: metaobject.splitscreen_image.alt,
    imageLink: metaobject.splitscreen_button_url.value,
    imageLinkTargetBlank: false,
    buttonUrl: metaobject.splitscreen_button_url.value,
    buttonText: metaobject.splitscreen_button_text.value,
    buttonVariant: 'default',
    reverse: false
  %}

  <p>{{ metaobject.address }}</p>
  <p>{{ metaobject.description }}</p>
  <!-- {% if metaobject.store_key_image %} -->
  <!-- <img src="{{ metaobject.store_key_image | image_url }}" alt="{{ metaobject.store_name }}"> -->
  <!-- {% endif %} -->
  <p><a href="{{ metaobject.map_link.value.url }}">Get directions</a></p>
  <p><strong>Phone:</strong> {{ metaobject.phone_number }}</p>
</div>
