<div class="store-detail">
  {% render 'henk-section-header', title: metaobject.store_name, level: '1', align: 'center' %}

  <p>{{ metaobject.address }}</p>
  <p>{{ metaobject.description }}</p>
  {% if metaobject.store_key_image %}
    <img src="{{ metaobject.store_key_image | image_url }}" alt="{{ metaobject.store_name }}">
  {% endif %}
  <p><a href="{{ metaobject.map_link.value.url }}">Get directions</a></p>
  <p><strong>Phone:</strong> {{ metaobject.phone_number }}</p>
</div>
