<div class="store-detail">
  {% render 'henk-section-header', title: metaobject.store_name, level: '1', align: 'center' %}

  {% render 'henk-split-screen',
    bgColor: 'default',
    id: 'ss-1',
    title: metaobject.splitscreen_heading.value,
    caption: metaobject.splitscreen_caption.value,
    level: 2,
    display: false,
    content: metaobject.splitscreen_text.value,
    media: metaobject.splitscreen_media,
    imageAlt: metaobject.splitscreen_image.alt,
    imageLink: metaobject.splitscreen_button_url.value,
    imageLinkTargetBlank: false,
    buttonUrl: metaobject.splitscreen_button_url.value,
    buttonText: metaobject.splitscreen_button_text.value,
    buttonVariant: 'default',
    reverse: false
  %}

  {% capture store_content %}

  {% assign no_appointment_needed = 'store_detail.no_appointment_needed' | t %}
  <p>{{ no_appointment_needed }}</p>

  {% if metaobject.store_opening_hours %}
    <dl>
      <dt>{{ 'store_detail.opening_hours' | t }}</dt>
      <dd>{{ metaobject.store_opening_hours | newline_to_br }}</dd>
    </dl>
  {% endif %}


  {% if metaobject.address %}
    <dl>
      <dt>Address</dt>
      <dd>{{ metaobject.address | replace: ", ", "<br>" }}</dd>
    </dl>
  {% endif %}

  {% if metaobject.phone_number.value %}
    <dl>
      <dt>Phone</dt>
      <dd>
        <a href="tel:{{ metaobject.phone_number.value | remove: ' ' | remove: '-' }}">{{ metaobject.phone_number.value }}</a>
      </dd>
    </dl>
  {% endif %}
{% endcapture %}

  {% assign plan_visit = 'store_detail.plan_your_visit' | t %}

  {% render 'henk-split-screen',
    id: 'ss-2',
    title: plan_visit,
    content: store_content,
    media: metaobject.map_media,
    imageAlt: metaobject.splitscreen_2_map_image.alt,
    imageLink: metaobject.map_link.value.url,
    imageLinkTargetBlank: true,
    reverse: true
  %}
</div>
