<div class="store-detail">
  {% render 'henk-section-header', title: metaobject.store_name, level: '1', align: 'center' %}

  {% assign props = hash %}
  {%
    assign props = props | merge: {
    bgColor: 'default',
    id: 'ss-1',
    title: metaobject.splitscreen_heading.value,
    caption: metaobject.splitscreen_caption.value,
    level: 2,
    display: false,
    content: metaobject.splitscreen_text.value,
    media: metaobject.splitscreen_media,
    imageAlt: metaobject.splitscreen_image.alt,
    imageLink: metaobject.splitscreen_button_url.value,
    imageLinkTargetBlank: false,
    buttonUrl: metaobject.splitscreen_button_url.value,
    buttonText: metaobject.splitscreen_button_text.value,
    buttonVariant: 'default',
    reverse: false
    }
  %}
  {% render 'henk-snippet-splitscreen', props: props %}

  {% capture store_content %}

  {% assign no_appointment_needed = 'store_detail.no_appointment_needed' | t %}
  <p>{{ no_appointment_needed }}</p>

  {% if metaobject.store_opening_hours %}
    <dl>
      <dt>{{ 'store_detail.opening_hours' | t }}</dt>
      <dd>{{ metaobject.store_opening_hours | newline_to_br }}</dd>
    </dl>
  {% endif %}

  {% if metaobject.address %}
    <dl>
      <dt>{{ 'store_detail.address' | t }}</dt>
      <dd>
        <a href="{{metaobject.map_link.value.url}}" target="_blank">{{ metaobject.address | replace: ", ", "<br>" }}</a>
      </dd>
    </dl>
  {% endif %}

  {% if metaobject.phone_number.value %}
    <dl>
      <dt>{{ 'store_detail.phone' | t }}</dt>
      <dd>
        <a href="tel:{{ metaobject.phone_number.value | remove: ' ' | remove: '-' }}">{{ metaobject.phone_number.value }}</a>
      </dd>
    </dl>
  {% endif %}

  {% if metaobject.store_parking %}
    <dl>
      <dt>{{ 'store_detail.parking' | t }}</dt>
      <dd>
        {{ metaobject.store_parking.value | newline_to_br }}
      </dd>
    </dl>
  {% endif %}

  {% if metaobject.store_public_transport %}
    <dl>
      <dt>{{ 'store_detail.public_transport' | t }}</dt>
      <dd>
        {{ metaobject.store_public_transport.value }}
      </dd>
    </dl>
  {% endif %}

  {% if metaobject.store_accessibility %}
    <dl>
      <dt>{{ 'store_detail.accessibility' | t }}</dt>
      <dd>
        {{ metaobject.store_accessibility.value }}
      </dd>
    </dl>
  {% endif %}

{% endcapture %}

  {% assign plan_visit = 'store_detail.plan_your_visit' | t %}

  {%
    render 'henk-snippet-splitscreen',
    props: {
    id: 'ss-2',
    title: plan_visit,
    content: store_content,
    media: metaobject.map_media,
    imageAlt: metaobject.splitscreen_2_map_image.alt,
    imageLink: metaobject.map_link.value.url,
    imageLinkTargetBlank: true,
    reverse: true
    }
  %}
</div>
