<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}
    {{ 'henk-tokens.min.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Load and preload the critical CSS %}
    {% comment %} {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }} {% endcomment %}

    {{ 'henk-base.min.css' | asset_url | stylesheet_tag: preload: true }}
    {% comment %} {{ '_henk-header.css' | asset_url | stylesheet_tag: preload: true }} {% endcomment %}
    {% comment %} {{ '_henk-footer.css' | asset_url | stylesheet_tag: preload: true }} {% endcomment %}

    {% # TODO: check when site live / prod %}
    {% if theme.id != 141470990497 %}
      <style>
        #shopify-pc__banner {
          display: none !important;
        }
      </style>
    {% endif %}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    <div class="henk-wrapper">
      {% sections 'header-group' %}
      <main>
        {{ content_for_layout }}
      </main>
      {% sections 'footer-group' %}
    </div>
  </body>
</html>
