<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="no-js baseline-gridx">
  <head>
    <script type="module">
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js-enabled');
    </script>

    {{ 'henk-tokens.min.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'henk-base.min.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'henk-atoms.min.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'henk-components.min.css' | asset_url | stylesheet_tag: preload: true }}

    {% # TODO: check when site live / prod %}
    {% if theme.id != 141470990497 %}
      <style>
        #shopify-pc__banner {
          display: none !important;
        }
      </style>
    {% endif %}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}

    <script type="module">
      import { mobileMenu } from '{{ "henk-mobile-menu.min.js" | asset_url }}';

      document.addEventListener('DOMContentLoaded', () => {
        mobileMenu.setupMatchMedia();
      });
    </script>
    <script src="{{ 'henk-feature-detection.js' | asset_url }}" defer></script>
  </head>

  <body class="template-{{ template.name }}">
    <div class="henk-wrapper">
      {% sections 'header-group' %}
      {% render 'henk-breadcrumbs' %}
      <main class="henk-main">
        {{ content_for_layout }}
        {% comment %} newsletter {% endcomment %}
        {% render 'henk-newsletter' %}
      </main>
      {% sections 'footer-group' %}
    </div>
  </body>
</html>
