{% comment %}
  This section is used in the article template to render the article page, which
  displays the full content of the blog post and can optionally include a
  comments section for customers (not shown in this example).

  https://shopify.dev/docs/storefronts/themes/architecture/templates/article
{% endcomment %}

{{ article | json }}
{% assign date = article.published_at | time_tag: format: 'date' %}

{% render 'henk-section-header',
  id: article.id,
  caption: date,
  title: article.title,
  level: '1',
  text: blog.metafields.custom.blog_overview_section_header_intro_text,
  align: 'center'
%}

{% if article.image %}
  {{ article.image | image_url: width: 1000 | image_tag }}
{% endif %}

<!-- <h1>{{ article.title }}</h1> -->

<!-- <p>{{ 'blog.article_metadata_html' | t: date: date, author: article.author }}</p> -->

{{ article.content }}

{% schema %}
{
  "name": "t:general.article",
  "settings": []
}
{% endschema %}
