{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

{% comment %} {{ collection | json }} {% endcomment %}

{% render 'henk-section-header', title: collection.title, text: collection.description %}

{% comment %}
  sorting
{% endcomment %}
{% comment %} {{ collection.sort_options | json }} {% endcomment %}
<form method="get" action="{{ collection.url }}" class="henk-collection-sort-form">
  <label for="sort-by" class="henk-label">Sort by</label>
  <select id="sort-by" name="sort_by" onchange="this.form.submit()" class="henk-input">
    {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

    {% for option in collection.sort_options %}
      <option
        value="{{ option.value }}"
        {% if option.value == sort_by %}
          selected="selected"
        {% endif %}
      >
        {{ option.name }}
      </option>
    {% endfor %}
  </select>
  <button type="submit" class="henk-button">Sort</button>
</form>

{% if collection.products.size > 0 %}
  <section class="shopify-section" id="shopify-section-lister">
    <div class="henk-lister-grid henk-section">
      {% paginate collection.products by 20 %}
        {% for product in collection.products %}
          {% render 'henk-card', product: product, collection: collection, card_variant: null %}
        {% endfor %}
        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </section>
{% else %}
  <div style="max-width: 600px; margin-inline: auto;">
    {% render 'henk-info-box',
      variant: 'danger',
      title: 'Geen producten gevonden',
      content: '<p>Nog geen producten gekoppeld aan deze collectie.</p>',
      icon_name: 'danger'
    %}
  </div>
{% endif %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
