{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

{% comment %} {{ collection | json }} {% endcomment %}

{% render 'henk-section-header', title: collection.title, text: collection.description %}
{% comment %} {{ collection.products | json }} {% endcomment %}
{{ collection.all_products_count }}
{% if collection.all_products_count > 0 %}
  <section class="shopify-section henk-section" id="shopify-section-lister">
    {% comment %}
      sorting
      {{ collection.sort_options | json }}
    {% endcomment %}
    {% if collection.all_products_count > 1 %}
      <div class="henk-grid-options-bar">
        <div class="henk-grid-options-bar__filters">
          <form>
            <details id="filters-widget">
              <summary>Filters</summary>
              <div class="henk-details-group henk-details-group--horizontalx">
                {% for filter in collection.filters %}
                  <details class="henk-details henk-details--plusmin" name="filter">
                    <summary class="henk-details__summary">
                      {{ filter.label }}
                      {% if filter.active_values.size > 0 %}
                        ({{ filter.active_values.size }} selected)
                      {% endif %}
                    </summary>

                    <div class="henk-details__content">
                      {% case filter.type %}
                        {% when 'list' %}
                          <ul class="henk-list henk-list--no-bullets">
                            {% for value in filter.values %}
                              <li>
                                <label>
                                  <input
                                    type="checkbox"
                                    name="{{ value.param_name }}"
                                    value="{{ value.value }}"
                                    {% if value.active %}
                                      checked
                                    {% endif %}
                                    {% if value.count == 0 and value.active == false %}
                                      disabled
                                    {% endif %}
                                  >
                                  {{ value.label }}
                                  {% if value.count > 0 %}
                                    ({{ value.count }})
                                  {% endif %}
                                </label>
                              </li>
                            {% endfor %}
                          </ul>

                        {% when 'price_range' %}
                          <div>
                            <input
                              type="number"
                              name="{{ filter.min_value.param_name }}"
                              value="{{ filter.min_value.value | default: '' }}"
                              placeholder="Min"
                              min="0"
                            >
                            <input
                              type="number"
                              name="{{ filter.max_value.param_name }}"
                              value="{{ filter.max_value.value | default: '' }}"
                              placeholder="Max"
                              min="0"
                            >
                          </div>

                        {% when 'boolean' %}
                          {% for value in filter.values %}
                            <label>
                              <input
                                type="checkbox"
                                name="{{ value.param_name }}"
                                value="{{ value.value }}"
                                {% if value.active %}
                                  checked
                                {% endif %}
                              >
                              {{ value.label }}
                            </label>
                          {% endfor %}
                      {% endcase %}
                    </div>
                  </details>
                {% endfor %}
                <button type="submit">Apply</button>
              </div>
            </details>
          </form>
          {% comment %}
            {% render 'grid-filter-widget' %}
          {% endcomment %}
        </div>
        <div class="henk-grid-options-bar__sort">
          {% comment %}
            {% render 'grid-sort-widget' %}
          {% endcomment %}
          {% render 'henk-collection-sort' %}
        </div>
      </div>
    {% endif %}
    <div class="henk-lister-grid">
      {% paginate collection.products by 20 %}
        {% for product in collection.products %}
          {% render 'henk-card', product: product, collection: collection, card_variant: null %}
        {% endfor %}
        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </section>
{% else %}
  <div style="max-width: 600px; margin-inline: auto;">
    {% render 'henk-info-box',
      variant: 'danger',
      title: 'Geen producten gevonden',
      content: '<p>Nog geen producten gekoppeld aan deze collectie.</p>',
      icon_name: 'danger'
    %}
  </div>
{% endif %}
{% stylesheet %}
  .henk-grid-options-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--space-4);
    width: min(var(--size-width-content), 100% - 3rem);
    margin-inline: auto;
    margin-bottom: var(--space-4);
    position: relative;
  }

  .henk-grid-options-bar__filters {
    min-width: 200px;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
  }

  .henk-grid-options-bar__sort {
    .henk-labeled-select {
      margin-bottom: 0;
      min-width: 200px;
    }
  }

  details#filters-widget {
    > summary {
      border: 1px solid black;
      border-radius: 4px;
      padding: 10px 1rem;
    }

    .henk-details-group {
      backdrop-filter: blur(24px);
      background-color: #ffffff4d;
      border: 1px solid black;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
