{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

{{ collection | json }}

<h1>{{ collection.title }}</h1>
<section class="shopify-section" id="shopify-section-lister">
  <div class="henk-lister-grid henk-section">
    {% paginate collection.products by 20 %}
      {% for product in collection.products %}
        <div class="henk-card">
          <a
            href="/en/collections/bar-stools/products/base-bar-stool"
            class="henk-card__image-link"
          >
            <figure class="henk-card__image-container">
              {% if product.featured_image %}
                {{
                  product.featured_image
                  | image_url: width: 1032, height: 1032, crop: 'center', class: 'henk-card__img'
                  | image_tag: srcset: null
                }}
              {% endif %}
            </figure>
          </a>
          <div class="henk-card__content">
            <p class="henk-card__title truncate">Base stool 77</p>
            <p class="henk-card__description truncate">Eiken hardwax olie naturel 3062</p>
            <a
              href="/en/collections/bar-stools/products/base-bar-stool"
              class="henk-button henk-card__button henk-button--undefined"
            >
              Vanaf € 379
            </a>
          </div>
        </div>
      {% endfor %}
      {{ paginate | default_pagination }}
    {% endpaginate %}
  </div>
</section>
<div class="collection-products">
  {% paginate collection.products by 20 %}
    {% for product in collection.products %}
      <div class="collection-product">
        {% if product.featured_image %}
          {% render 'image',
            class: 'collection-product__image',
            image: product.featured_image,
            url: product.url,
            width: 400,
            height: 400,
            crop: 'center'
          %}
        {% endif %}
        <div class="collection-product__content">
          <p>{{ product.title | escape | link_to: product.url }}</p>
          <p>{{ product.price | money }}</p>
        </div>
      </div>
    {% endfor %}

    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>

{% stylesheet %}
  .collection-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
