<footer>
  <div class="footer__copyright">
    &copy;
    {{ 'now' | date: '%Y' }}
    {{ shop.name | link_to: routes.root_url }}, {{ powered_by_link }}
  </div>

  <div class="footer__links">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="footer__payment">
    {% if section.settings.show_payment_icons %}
      {% for type in shop.enabled_payment_types %}
        {{ type | payment_type_svg_tag }}
      {% endfor %}
    {% endif %}
  </div>
</footer>

{% comment %} {% stylesheet %} {% endcomment %}
{% comment %}   footer { {% endcomment %}
{% comment %}     display: flex; {% endcomment %}
{% comment %}     justify-content: space-between; {% endcomment %}
{% comment %}     margin-top: 2rem; {% endcomment %}
{% comment %}   } {% endcomment %}
{% comment %}   footer a { {% endcomment %}
{% comment %}     text-decoration: none; {% endcomment %}
{% comment %}     color: var(--color-foreground); {% endcomment %}
{% comment %}   } {% endcomment %}
{% comment %}   footer .footer__links, {% endcomment %}
{% comment %}   footer .footer__payment { {% endcomment %}
{% comment %}     display: flex; {% endcomment %}
{% comment %}     gap: 1rem; {% endcomment %}
{% comment %}   } {% endcomment %}
{% comment %} {% endstylesheet %} {% endcomment %}

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    }
  ]
}
{% endschema %}
