{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<style>
  .product-images {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
  }
</style>

<section class="henk-section">
  <div class="henk-section__inner">
    {% comment %} {{ product | json }} {% endcomment %}
    <div class="product-images">
      {% for image in product.images %}
        {% comment %} {% render 'image', class: 'product-image', image: image %} {% endcomment %}
        {%- assign img_width = 1200 -%}
        {%- assign img_height = 1200 -%}

        <img
          src="{{ image | image_url: width: img_width }}"
          alt="{{ image.alt | escape | default: product.title }}"
          width="{{ img_width }}"
          height="{{ img_height }}"
          class="product-image"
          loading="lazy"
          {% if image.id %}
            data-image-id="{{ image.id }}"
          {% endif %}
        >
      {% endfor %}
    </div>

    <div class="product-info">
      <h1>{{ product.title }}</h1>
      <p>{{ product.price | money }}</p>
      <p>{{ product.description }}</p>
    </div>

    <div class="product-form">
      {% form 'product', product %}
        {% assign current_variant = product.selected_or_first_available_variant %}

        <select name="id" class="henk-select">
          {% for variant in product.variants %}
            <option
              value="{{ variant.id }}"
              {% if variant == current_variant %}
                selected="selected"
              {% endif %}
            >
              {{ variant.title }} - {{ variant.price | money }}
            </option>
          {% endfor %}
        </select>

        <input type="text" name="quantity" min="1" value="1" class="henk-input">

        <input type="submit" value="Add to cart" class="henk-button">
        {{ form | payment_button: class: 'my-custom-class' }}
      {% endform %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
