{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<style>
  .product-images {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
  }

  .product-image {
    margin: 0;
  }

  .henk-input[name='quantity'] {
    display: none;
  }

  .product__title {
    margin-top: 0;
  }
</style>

<section class="henk-section">
  <div class="henk-section__inner">
    {% comment %} {{ product | json }} {% endcomment %}

    <div class="henk-section__grid">
      <div class="henk-section__grid-item">
        <div class="product-images">
          {% for image in product.images %}
            {% comment %} {% render 'image', class: 'product-image', image: image %} {% endcomment %}
            {%- assign img_width = 1200 -%}
            {%- assign img_height = 1200 -%}

            <img
              src="{{ image | image_url: width: img_width }}"
              alt="{{ image.alt | escape | default: product.title }}"
              width="{{ img_width }}"
              height="{{ img_height }}"
              class="product-image"
              loading="lazy"
              {% if image.id %}
                data-image-id="{{ image.id }}"
              {% endif %}
            >
          {% endfor %}
        </div>
      </div>

      <div class="henk-section__grid-item">
        <div class="product-info">
          <h1 class="product__title">{{ product.title }}</h1>
          <p class="product__price">{{ product.price | money }}</p>
          <p class="product__description">{{ product.description }}</p>
        </div>

        <div class="product-form">
          {% form 'product', product %}
            {% assign current_variant = product.selected_or_first_available_variant %}

            {%- comment -%}test radio buttons for options {%- endcomment -%}
            {% for option in product.options_with_values %}
              <fieldset class="variant-option">
                <legend>{{ option.name }}</legend>

                {% for value in option.values %}
                  {% assign variant_for_value = product.variants | where: option.name, value | first %}
                  <label>
                    <input
                      type="radio"
                      name="id"
                      value="{{ variant_for_value.id }}"
                      {% if variant_for_value.id == current_variant.id %}
                        checked="checked"
                      {% endif %}
                      {% unless variant_for_value.available %}
                        disabled
                      {% endunless %}
                    >
                    {{ value }}
                  </label>
                {% endfor %}
              </fieldset>
            {% endfor %}

            <div class="henk-labeled-select henk-labeled-select--dir-vertical">
              <label class="henk-label" for="select-id">
                <span class="henk-label-text">Variant</span>
              </label>
              <div class="select-wrapper">
                <select class="henk-select" name="id">
                  {% for variant in product.variants %}
                    <option
                      value="{{ variant.id }}"
                      {% if variant == current_variant %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ variant.title }} - {{ variant.price | money }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <input type="text" name="quantity" min="1" value="1" class="henk-input">

            {%- comment -%}check if has sku. if not, dont show buttons{%- endcomment -%}
            {% if current_variant.sku == blank %}
              {% render 'henk-info-box',
                variant: 'danger',
                title: 'NO SKU ASSIGNED',
                content: '<p>This product cannot be added to the cart yet. Please contact us.</p>',
                icon_name: 'danger'
              %}
            {% else %}
              <div class="henk-button-group">
                <input type="submit" value="Add to cart" class="henk-button">
                {{ form | payment_button }}
              </div>
            {% endif %}
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
